<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CustomerPriceMapper">

	<resultMap id="mRetMapCustomerLadderPrice" type="com.gesoft.model.CustomerPriceModel">
        <result property="id" column="id"/>
        <result property="price" column="price"/>
        <result property="good_customer_id" column="good_customer_id"/>
        <result property="num" column="num"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="CustomerPriceMapper.columns">
	    <![CDATA[
		id,price,good_customer_id,num
	    ]]>
	</sql>

	<insert id="CustomerPriceMapper.insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tab_good_customer_ladder_price (
        	id,
        	price,
        	good_customer_id,
        	num
        ) VALUES (
        	#{id} ,
        	#{price} ,
        	#{good_customer_id} ,
        	#{num}
        )
    ]]>
	</insert>
    
	<update id="CustomerPriceMapper.update" >
    <![CDATA[
        UPDATE tab_good_customer_ladder_price SET
	        price = #{price} ,
	        good_customer_id = #{good_customer_id} ,
	        num = #{num}
        WHERE 
	        id = #{id} 
    ]]>
	</update>

    <delete id="CustomerPriceMapper.delete">
    <![CDATA[
        DELETE FROM tab_good_customer_ladder_price WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="CustomerPriceMapper.getById" resultMap="mRetMapCustomerLadderPrice">
		SELECT <include refid="CustomerPriceMapper.columns" />
	    <![CDATA[
		    FROM tab_good_customer_ladder_price
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<sql id="CustomerPriceMapper.findPage.where">
		<where>

			1=1
	       	<if test="@com.gesoft.util.Ognl@isNotEmpty(id)">
				AND A.id = #{id}
			</if>
			<if test="@com.gesoft.util.Ognl@isNotEmpty(price)">
				AND A.price = #{price}
			</if>
			<if test="@com.gesoft.util.Ognl@isNotEmpty(good_customer_id)">
				AND A.good_customer_id = #{good_customer_id}
			</if>
			<if test="@com.gesoft.util.Ognl@isNotEmpty(num)">
				AND A.num = #{num}
			</if>

		</where>
	</sql>
		
    <select id="CustomerPriceMapper.count" resultType="long">
		SELECT 	count(*)
		FROM tab_good_customer_ladder_price A
		left join tab_goods B on A.goodsId=B.id
		left join tab_dict D on A.unit=D.dictNo
		<include refid="CustomerPriceMapper.findPage.where"/>
    </select>
    
    <!-- 分页查询 -->
    <select id="CustomerPriceMapper.list" resultMap="mRetMapCustomerLadderPrice">
		SELECT 	A.id,
		A.price,
		A.good_customer_id,
		A.num
		FROM tab_good_customer_ladder_price A
		<include refid="CustomerPriceMapper.findPage.where"/>
		
		<if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

</mapper>

