<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="GoodsMapper">

	<resultMap id="mRetMapGoods" type="com.gesoft.model.GoodsModel">
        <result property="id" column="id"/>
        <result property="materialNum" column="materialNum"/>
        <result property="goodsName" column="goodsName"/>
        <result property="unitPrice" column="unitPrice"/>
        <result property="unit" column="unit"/>
        <result property="spec" column="spec"/>
        <result property="specUnit" column="specUnit"/>
        <result property="customerId" column="customerId"/>
        <result property="storage" column="storage"/>
        <result property="status" column="status"/>
        <result property="businessId" column="businessId"/>
        <result property="memo" column="memo"/>
		<result property="customerName" column="customerName"/>
		<result property="business" column="business"/>
		<result property="name1" column="name1"/>
		<result property="name2" column="name2"/>
		<result property="goodId" column="goodId"/>
		<result property="goodsId" column="goodsId"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="GoodsMapper.columns">
	    <![CDATA[
		id,goodsName,spec,specUnit,storage,status,businessId,memo
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="GoodsMapper.insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tab_goods (
        	id ,
        	goodsName ,
        	spec ,
        	specUnit ,
        	businessId,
        	memo
        ) VALUES (
        	#{id} ,
        	#{goodsName} ,
        	#{spec} ,
        	#{specUnit} ,
        	#{businessId},
        	#{memo} 
        )
    ]]>
	</insert>
    
	<update id="GoodsMapper.update" >
    <![CDATA[
        UPDATE tab_goods SET
	        goodsName = #{goodsName} ,
	        spec = #{spec} ,
	        specUnit = #{specUnit} ,
	        businessId = #{businessId},
	        memo = #{memo} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

	<update id="GoodsMapper.delete" >
		<![CDATA[
        UPDATE tab_goods SET status = 1
        WHERE
	        id = #{id}
    ]]>
	</update>
    
    <select id="GoodsMapper.getById" resultMap="mRetMapGoods">
		SELECT <include refid="GoodsMapper.columns" />
	    <![CDATA[
		    FROM tab_goods 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<sql id="GoodsMapper.findPage.where">
		<where>	      				
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(id)">
				AND A.id = #{id}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(goodsName)">
				AND A.goodsName LIKE CONCAT(CONCAT('%', #{goodsName}), '%')
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(spec)">
				AND A.spec = #{spec}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(specUnit)">
				AND A.specUnit = #{specUnit}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(storage)">
				AND A.storage = #{storage}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
				AND A.businessId = #{businessId}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(memo)">
				AND A.memo = #{memo}
			</if>
				AND A.status=0
		</where>
	</sql>
		
    <select id="GoodsMapper.count" resultType="long">
        SELECT count(*)
		FROM tab_goods A
		LEFT join tab_business B on A.businessId=B.id
		left join tab_dict E on  A.specUnit=E.dictNo
		left join tab_dm F on F.bm=E.dmbm
		<include refid="GoodsMapper.findPage.where"/>
    </select>
    
    <!-- 分页查询 -->
    <select id="GoodsMapper.list" resultMap="mRetMapGoods">
		SELECT 	A.id,
		A.goodsName,
		A.spec,
		A.specUnit,
		E.dictName name2,
		A.storage,
		A. businessId,
		B.business,
		A.memo
		FROM tab_goods A
		LEFT join tab_business B on A.businessId=B.id
		left join tab_dict E on  A.specUnit=E.dictNo
		left join tab_dm F on F.bm=E.dmbm
		<include refid="GoodsMapper.findPage.where"/>
		
		<if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
		
		LIMIT #{startNum}, #{pageSize}
    </select>

	<select id="GoodsMapper.queryGoodsList" resultMap="mRetMapGoods">
		SELECT id goodsId,goodsName
		FROM tab_goods
		where status=0
		and businessId = #{businessId}
	</select>

	<select id="GoodsMapper.queryMaterialNum" resultMap="mRetMapGoods">
		SELECT id,materialNum
		FROM tab_blueprint
	</select>

	<select id="GoodsMapper.queryMaterialNum2" resultMap="mRetMapGoods">
		SELECT id,materialNum
		FROM tab_good_customer
	</select>


	<!--修改厂商商品的货存-->
	<update id="GoodsMapper.updateStorage" >
		update tab_good_customer set storage = storage -  #{esgouNum}
		where id = #{id}
	</update>
</mapper>

