<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="GoodCustomerMapper">

	<resultMap id="mRetMapGoodCustomer" type="com.gesoft.model.GoodCustomerModel">
        <result property="id" column="id"/>
        <result property="goodId" column="goodId"/>
        <result property="customerId" column="customerId"/>
        <result property="materialNum" column="materialNum"/>
        <result property="unitPrice" column="unitPrice"/>
        <result property="unit" column="unit"/>
        <result property="storage" column="storage"/>
        <result property="businessId" column="businessId"/>
        <result property="goodsName" column="goodsName"/>
        <result property="business" column="business"/>
        <result property="customerName" column="customerName"/>
        <result property="dictName" column="dictName"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="GoodCustomerMapper.columns">
	    <![CDATA[
		id,goodId,customerId,materialNum,unitPrice,unit,storage
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="GoodCustomerMapper.insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO tab_good_customer (
        	id ,
        	goodId ,
        	customerId ,
        	materialNum ,
        	unitPrice ,
        	unit
        ) VALUES (
        	#{id} ,
        	#{goodId} ,
        	#{customerId} ,
        	#{materialNum} ,
        	#{unitPrice} ,
        	#{unit}
        )
    ]]>
	</insert>
    
	<update id="GoodCustomerMapper.update" >
    <![CDATA[
        UPDATE tab_good_customer SET
	        goodId = #{goodId} ,
	        customerId = #{customerId} ,
	        materialNum = #{materialNum} ,
	        unitPrice = #{unitPrice} ,
	        unit = #{unit}
        WHERE
	        id = #{id} 
    ]]>
	</update>

    <delete id="GoodCustomerMapper.delete">
    <![CDATA[
        DELETE FROM tab_good_customer WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="GoodCustomerMapper.getById" resultMap="mRetMapGoodCustomer">
		SELECT <include refid="GoodCustomerMapper.columns" />
	    <![CDATA[
		    FROM tab_good_customer 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>
	
	<sql id="GoodCustomerMapper.findPage.where">
		<where>	      				
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(id)">
				AND A1.id = #{id}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(goodId)">
				AND A1.goodId = #{goodId}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
				AND A2.businessId = #{businessId}
			</if>
			<if test="@com.gesoft.util.Ognl@isNotEmpty(customerId)">
				AND A1.customerId = #{customerId}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
				AND A1.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(unitPrice)">
				AND A1.unitPrice = #{unitPrice}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(unit)">
				AND A1.unit = #{unit}
			</if>
	       <if test="@com.gesoft.util.Ognl@isNotEmpty(storage)">
				AND A1.storage = #{storage}
			</if>
		</where>
	</sql>
		
    <select id="GoodCustomerMapper.count" resultType="long">
        SELECT count(*)
		FROM tab_good_customer A1
		INNER JOIN tab_goods A2 ON A1.GOODID=A2.ID
		LEFT JOIN tab_business A3 ON A3.ID=A2.businessId
		LEFT JOIN tab_customer A4 ON A4.ID=A1.customerId
		LEFT JOIN tab_dict A5 ON A5.dictNo=A1.unit
		<include refid="GoodCustomerMapper.findPage.where"/>    
    </select>
    
    <!-- 分页查询 -->
    <select id="GoodCustomerMapper.list" resultMap="mRetMapGoodCustomer">
		SELECT A1.*, A2.businessId,A3.business,A2.goodsName, A3.business, A4.customerName, A5.dictName
		FROM tab_good_customer A1
		INNER JOIN tab_goods A2 ON A1.GOODID=A2.ID
		LEFT JOIN tab_business A3 ON A3.ID=A2.businessId
		LEFT JOIN tab_customer A4 ON A4.ID=A1.customerId
		LEFT JOIN tab_dict A5 ON A5.dictNo=A1.unit
		<include refid="GoodCustomerMapper.findPage.where"/>
		<if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
		
		LIMIT #{startNum}, #{pageSize}
    </select>

	
</mapper>

