<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="OrderItemMapper">

    <resultMap id="mRetMapOrderItem" type="com.gesoft.model.OrderItemModel">
        <result property="id" column="id"/>
        <result property="orderId" column="orderId"/>
        <result property="orderNo"/>
        <result property="orderName" column="orderName"/>
        <result property="customerGoodId" column="customerGoodId"/>
        <result property="goodsName" column="goodsName"/>
        <result property="esgouNum" column="esgouNum"/>
        <result property="goodsUnit" column="goodsUnit"/>
        <result property="unitPrice" column="unitPrice"/>
        <result property="tmpNum" column="tmpNum"/>
        <result property="afterNum" column="afterNum"/>
        <result property="itemState" column="itemState"/>
        <result property="totalMoney" column="totalMoney"/>

        <result property="goodsId"/>
        <result property="blueprintId"/>
        <result property="goodsNum"/>
        <result property="price"/>
        <result property="unit"/>
        <result property="pname"/>
        <result property="storage"/>
       <!-- tab_inout_stock-->
        <result property="stime"/>
        <result property="businessId"/>
        <result property="business"/>
        <result property="isBIll"/>
        <result property="orderType"/>
        <!--tab_inout_stock_item-->
        <result property="inout_stock_id"/>
        <result property="orderItemId"/>
        <result property="goodNum"/>
        <result property="goodId"/>
        <result property="customerGoodId"/>
        <result property="goodsName"/>
        <result property="text"/>
        <result property="treeId"/>

        <result property="stimeBegin"/>
        <result property="stimeEnd"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="OrderItemMapper.columns">
        <![CDATA[
		id,
		orderId,
		customerGoodId,
		esgouNum,
		unitPrice
	    ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="OrderItemMapper.insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO tab_orderitem (
        id,
		orderId,
		customerGoodId,
		esgouNum,
		tmpNum,
		unitPrice
        ) VALUES (
        	#{id} ,
        	#{orderId} ,
        	#{customerGoodId} ,
        	#{esgouNum} ,
        	#{tmpNum} ,
        	#{unitPrice}
        )
    ]]>
    </insert>

    <update id="OrderItemMapper.update" >
        <![CDATA[
        UPDATE tab_orderitem SET
	        customerGoodId = #{customerGoodId} ,
	        esgouNum = #{esgouNum} ,
	        tmpNum = #{tmpNum} ,
	        unitPrice = #{unitPrice}
        WHERE
	        id = #{id}
    ]]>
    </update>

    <!--添加出库信息-->
    <insert id="OrderItemMapper.insertInoutStock" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO tab_inout_stock(
        id,
		stime,
		orderType,
		businessId,
		createUserId,
		createTime,
		modifyUserId,
		modifyTime
        ) VALUES (
        	#{id} ,
            #{stime},
            #{orderType},
        	#{businessId},
        	#{createUserId},
		    #{createTime},
		    #{modifyUserId},
		    #{modifyTime}
        )
    ]]>
    </insert>

    <!--添加出库细项表信息-->
    <insert id="OrderItemMapper.insertInoutStockItem" useGeneratedKeys="true" keyProperty="id">
         <![CDATA[
        INSERT INTO tab_inout_stock_item(
		inout_stock_id,
		orderItemId,
		price,
		goodNum,
		stime,
		orderType,
		createUserId,
		createTime,
		modifyUserId,
		modifyTime
        ) VALUES (
            #{inout_stock_id},
            #{orderItemId},
            #{price},
        	#{goodNum},
        	#{stime},
            #{orderType},
        	#{createUserId},
		    #{createTime},
		    #{modifyUserId},
		    #{modifyTime}
        )
    ]]>
    </insert>



    <update id="OrderItemMapper.updateInoutStock">
          <![CDATA[
        UPDATE tab_inout_stock SET
		isBIll = #{isBIll},
		modifyUserId = #{modifyUserId},
		modifyTime = #{modifyTime},
		businessId =# {businessId}
        WHERE
	        id = #{id}
    ]]>
    </update>

    <update id="OrderItemMapper.updateInoutNum">
     <![CDATA[
        UPDATE tab_orderitem SET tmpNum = tmpNum + #{tmpNum} WHERE id = #{id}
    ]]>
    </update>

    <delete id="OrderItemMapper.delete" >
        <![CDATA[
        DELETE FROM tab_orderitem WHERE
        id = #{id}
    ]]>
    </delete>

    <delete id="OrderItemMapper.deleteInoutStock" >
        <![CDATA[
        DELETE FROM tab_inout_stock WHERE
        id = #{id}
    ]]>
    </delete>


    <select id="OrderItemMapper.getById" resultMap="mRetMapOrderItem">
        SELECT <include refid="OrderItemMapper.columns" />
        <![CDATA[
		    FROM tab_orderitem
	        WHERE
		        id = #{id}
	    ]]>
    </select>

    <sql id="OrderItemMapper.findPage.where">
        <where>
            A.orderId =  #{orderId}
            <if test="@com.gesoft.util.Ognl@isNotEmpty(id)">
                AND A.id = #{id}
            </if>
            <if test="@com.gesoft.util.Ognl@isNotEmpty(customerGoodId)">
                AND A.customerGoodId = #{customerGoodId}
            </if>
            <if test="@com.gesoft.util.Ognl@isNotEmpty(unitPrice)">
                AND A.unitPrice = #{unitPrice}
            </if>
            <if test="@com.gesoft.util.Ognl@isNotEmpty(esgouNum)">
                AND A.esgouNum = #{esgouNum}
            </if>
        </where>
    </sql>

    <!--订单细项总数-->
    <select id="OrderItemMapper.count" resultType="long">
        SELECT count(*)
        FROM tab_orderitem A
        left join tab_order B on  A.orderId=B.id
        left join tab_good_customer F on A.customerGoodId=F.id
        left join tab_goods D on F.goodId=D.id
        left join tab_dict E on D.specUnit=E.dictNo
        <include refid="OrderItemMapper.findPage.where"/>
    </select>

    <!--入库总数-->
    <select id="OrderItemMapper.countInout" resultType="long">
        SELECT count(*)
        from ( SELECT A.id
        FROM tab_inout_stock A
        LEFT JOIN tab_inout_stock_item D on D.inout_stock_id=A.id
        LEFT JOIN tab_orderitem E on E.id=D.orderItemId
        LEFT JOIN tab_order F on F.id=E.orderId
        LEFT JOIN tab_good_customer G on G.id=E.customerGoodId
        LEFT JOIN tab_goods H on H.id=G.goodId
        left join tab_business B on A.businessId=B.id
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
            AND A.businessId = #{businessId}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND F.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND F.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND G.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        GROUP BY A.id) t1
    </select>

    <!--分页查询入库信息-->
    <select id="OrderItemMapper.queryInoutStock" resultMap="mRetMapOrderItem">
        SELECT A.id,
        DATE_FORMAT(A.stime,'%Y-%m-%d %T') as stime,
        A.isBIll,
        A.businessId,
        B.business
        FROM tab_inout_stock A
        left join tab_business B on A.businessId=B.id
        LEFT JOIN tab_inout_stock_item D on D.inout_stock_id=A.id
        LEFT JOIN tab_orderitem E on E.id=D.orderItemId
        LEFT JOIN tab_order F on F.id=E.orderId
        LEFT JOIN tab_good_customer G on G.id=E.customerGoodId
        LEFT JOIN tab_goods H on H.id=G.goodId
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
            AND A.businessId = #{businessId}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND F.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND F.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND G.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        GROUP BY A.id
        order by A.stime desc
        LIMIT #{startNum}, #{pageSize}
    </select>

    <!--出库总数-->
    <select id="OrderItemMapper.countOut" resultType="long">
        SELECT count(*)
        from ( SELECT A.id
        FROM tab_inout_stock A
        LEFT JOIN tab_inout_stock_item D on D.inout_stock_id=A.id
        LEFT JOIN tab_orderitem E on E.id=D.orderItemId
        LEFT JOIN tab_order F on F.id=E.orderId
        LEFT JOIN tab_blueprint J on J.id= E .customerGoodId
        LEFT JOIN tab_good_customer G on G.id=E.customerGoodId
        LEFT JOIN tab_goods H on H.id=G.goodId
        left join tab_business B on A.businessId=B.id
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
            AND A.businessId = #{businessId}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND F.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND F.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND J.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        GROUP BY A.id) t1
    </select>

    <!--分页查询出库信息-->
    <select id="OrderItemMapper.queryOutStock" resultMap="mRetMapOrderItem">
        SELECT A.id,
        DATE_FORMAT(A.stime,'%Y-%m-%d %T') as stime,
        A.isBIll,
        A.businessId,
        B.business
        FROM tab_inout_stock A
        left join tab_business B on A.businessId=B.id
        LEFT JOIN tab_inout_stock_item D on D.inout_stock_id=A.id
        LEFT JOIN tab_orderitem E on E.id=D.orderItemId
        LEFT JOIN tab_order F on F.id=E.orderId
        LEFT JOIN tab_blueprint J on J.id= E .customerGoodId
        LEFT JOIN tab_good_customer G on G.id=E.customerGoodId
        LEFT JOIN tab_goods H on H.id=G.goodId
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
            AND A.businessId = #{businessId}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND F.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND F.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND J.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        GROUP BY A.id
        order by A.stime desc
        LIMIT #{startNum}, #{pageSize}
    </select>


    <!-- 分页查询订单细项-->
    <select id="OrderItemMapper.list" resultMap="mRetMapOrderItem">
        SELECT
        A.id,
        A.orderId,
        A.customerGoodId,
        A.esgouNum,
        A.unitPrice as price,
        A.tmpNum,
        D.goodsName,
        F.materialNum,
        F.isHasLadder,
        F.goodsId,
        F.price AS oneprice,
        D.specUnit,
        E.dictName,
        A.esgouNum * A.unitPrice AS totalMoney
        FROM
        tab_orderitem A
        LEFT JOIN tab_blueprint F ON A.customerGoodId = F.id
        left join tab_good_customer G ON F.goodsId = G.id
        LEFT JOIN tab_goods D ON G.goodId = D.id
        LEFT JOIN tab_dict E ON F.unit = E.dictNo
    <include refid="OrderItemMapper.findPage.where"/>
    <if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
        ORDER BY ${sortColumns}
    </if>
</select>

    <select id="OrderItemMapper.list2" resultMap="mRetMapOrderItem">
        SELECT
        A.id,
        A.orderId,
        A.customerGoodId,
        A.esgouNum,
        A.unitPrice as price,
        A.tmpNum,
        D.goodsName,
        F.materialNum,
        F.isHasLadder,
        F.unitPrice as oneprice,
        D.specUnit,
        E.dictName,
        A.esgouNum * A.unitPrice AS totalMoney
        FROM
        tab_orderitem A
        LEFT JOIN tab_good_customer F ON A.customerGoodId = F.id
        LEFT JOIN tab_goods D ON F.goodId = D.id
        LEFT JOIN tab_dict E ON F.unit = E.dictNo
        <include refid="OrderItemMapper.findPage.where"/>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <!--入库细项总数-->
    <select id="OrderItemMapper.countInoutItem" resultType="long">
        select count(*)
        from tab_inout_stock_item A
        left join tab_orderitem B on A.orderItemId=B.id
        left join tab_order T on T.id=B.orderId
        left join tab_good_customer F on B.customerGoodId=F.id
        left join tab_goods D on F.goodId=D.id
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND T.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND T.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND J.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        GROUP BY A.id) t1
    </select>

    <!--分页查询入库订单细项信息-->
    <select id="OrderItemMapper.queryInoutStockItem" resultMap="mRetMapOrderItem">
        select A.id,
        A.orderItemId,
        T.orderNo,
        T.orderName,
        B.customerGoodId,
        F.materialNum,
        F.goodId,
        D.goodsName,
        A.goodNum
        from tab_inout_stock_item A
        left join tab_orderitem B on A.orderItemId=B.id
        left join tab_order T on T.id=B.orderId
        left join tab_good_customer F on B.customerGoodId=F.id
        left join tab_goods D on F.goodId=D.id
        <if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
        LIMIT #{startNum}, #{pageSize}
    </select>

    <!--出库细项总数-->
    <select id="OrderItemMapper.countInoutItem" resultType="long">
        select count(*)
        from tab_inout_stock_item A
        left join tab_orderitem B on A.orderItemId=B.id
        left join tab_order T on T.id= B.orderId
        LEFT JOIN tab_blueprint F ON B.customerGoodId=F.id
        LEFT JOIN tab_good_customer G on F.goodsId=G.id
        LEFT JOIN tab_goods D ON G.goodId=D.id
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND T.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND T.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND J.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
            AND A.businessId = #{businessId}
        </if>
    </select>

    <!--分页查询出库订单细项信息-->
    <select id="OrderItemMapper.queryOutStockItem" resultMap="mRetMapOrderItem">
        select A.id,
        A.orderItemId,
        T.orderNo,
        T.orderName,
        F.goodsId as customerGoodId,
        F.materialNum,
        G.goodId,
        D.goodsName,
        A.goodNum
        from tab_inout_stock_item A
        left join tab_orderitem B on A.orderItemId=B.id
        left join tab_order T on T.id= B.orderId
        LEFT JOIN tab_blueprint F ON B.customerGoodId=F.id
        LEFT JOIN tab_good_customer G on F.goodsId=G.id
        LEFT JOIN tab_goods D ON G.goodId=D.id
        WHERE 1=1
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeBegin)">
            AND A.stime>= #{stimeBegin}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(stimeEnd)">
            AND A.stime &lt;= #{stimeEnd}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND T.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND T.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(ycmaterialNum)">
            AND G.materialNum LIKE CONCAT(CONCAT('%', #{ycmaterialNum}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND F.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
        LIMIT #{startNum}, #{pageSize}
    </select>


    <select id="OrderItemMapper.queryNumInfo" resultMap="mRetMapOrderItem">
        SELECT
            A.id  as blueprintId,
            A.materialNum,
            A.price,
            A.goodsId,
            A.isHasLadder,
            B.goodsName,
            D.dictName
        FROM
            tab_blueprint A
        left join tab_good_customer G ON A.goodsId = G.id
        LEFT JOIN tab_goods B ON G.goodId = B.id
        LEFT JOIN tab_dict D ON A.unit = D.dictNo
        WHERE
            A.id = #{blueprintId}
    </select>

    <select id="OrderItemMapper.queryNumInfo2" resultMap="mRetMapOrderItem">
        SELECT
        A.id as blueprintId,
        A.materialNum,
        A.unitPrice as price,
        A.goodId as goodsId,
        A.isHasLadder,
        B.goodsName,
        D.dictName
        FROM
        tab_good_customer A
        LEFT JOIN tab_goods B ON A.goodId = B.id
        LEFT JOIN tab_dict D ON A.unit = D.dictNo
        WHERE
        A.id = #{blueprintId}
    </select>

  <select id="OrderItemMapper.goodsPlan" resultMap="mRetMapOrderItem">
	  SELECT A.id,
	  A.pname,
      A.goodsId,
      A.goodsNum,
      A.price,
      A.unit
      FROM tab_blueprint A
      WHERE A.goodsId = #{goodsId}
  </select>

    <select id="OrderItemMapper.getBluePrintInfo" resultMap="mRetMapOrderItem">
        SELECT
            t.id as customerGoodId,
            t.isHasLadder,
            t.price
        FROM
            tab_blueprint t
        WHERE
            t.pname = #{customerId}
        and t.goodsId = #{customerGoodId} LIMIT 0,1
    </select>

    <!--查询采购订单树父节点-->
    <select id="OrderItemMapper.queryInOrderTree" resultMap="mRetMapOrderItem">
        SELECT A.id as treeId,A.orderName text
        FROM tab_orderitem B
        LEFT JOIN tab_order A on B.orderId = A.id
        left join tab_good_customer F on B.customerGoodId=F.id
        left join tab_goods D on F.goodId=D.id
        WHERE 1=1
        AND A.orderStatus!=-1 AND A.orderStatus!=5
        AND B.esgouNum != B.tmpNum
        <!--AND (A.orderStatus = 1 or A.orderStatus=2 or A.orderStatus=3)-->
        AND A.orderType = #{orderType}
        <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
            AND D.businessId= #{businessId}
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
            AND A.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
            AND A.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
        </if>
        <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
            AND F.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
        </if>
        GROUP BY A.id
    </select>
    <!--查询采购订单树子节点-->
    <select id="OrderItemMapper.queryOrderTree1" resultMap="mRetMapOrderItem">
        SELECT B.id as treeId,B.customerGoodId,F.goodId,D.goodsName ,F.materialNum,B.esgouNum,B.tmpNum,F.storage,
        (B.esgouNum-B.tmpNum) as afterNum,A.orderName,A.orderType,B.unitPrice,
        concat( D.goodsName, '-' ,F.materialNum,'(',CONVERT(B.esgouNum-B.tmpNum,char),')') as text,B.orderId
        FROM tab_orderitem B
        left join tab_order A on A.id=B.orderId
        left join tab_good_customer F on B.customerGoodId=F.id
        left join tab_goods D on F.goodId=D.id
        where B.orderId = #{orderId}
        AND A.orderStatus!=-1 AND A.orderStatus!=5
        <!--AND (A.orderStatus = 1 or A.orderStatus=2 or A.orderStatus=3)-->
        AND B.esgouNum != B.tmpNum
    </select>

    <!--查询销售订单树父节点-->
    <select id="OrderItemMapper.queryOrderTree" resultMap="mRetMapOrderItem">
      SELECT A.id as treeId,A.orderName text
      FROM tab_orderitem B
      LEFT JOIN tab_order A ON A.id = B.orderId
      LEFT JOIN tab_blueprint F ON B.customerGoodId=F.id
      LEFT JOIN tab_good_customer G on F.goodsId=G.id
      LEFT JOIN tab_goods D ON G.goodId=D.id
      WHERE 1=1
      AND A.orderStatus!=-1 AND A.orderStatus!=5
      AND B.esgouNum != B.tmpNum
      <!--AND (A.orderStatus = 1 or A.orderStatus=2 or A.orderStatus=3)-->
      AND A.orderType = #{orderType}
      <if test="@com.gesoft.util.Ognl@isNotEmpty(businessId)">
          AND D.businessId= #{businessId}
      </if>
      <if test="@com.gesoft.util.Ognl@isNotEmpty(orderNo)">
          AND A.orderNo LIKE CONCAT(CONCAT('%', #{orderNo}), '%')
      </if>
      <if test="@com.gesoft.util.Ognl@isNotEmpty(orderName)">
          AND A.orderName LIKE CONCAT(CONCAT('%', #{orderName}), '%')
      </if>
      <if test="@com.gesoft.util.Ognl@isNotEmpty(materialNum)">
          AND F.materialNum LIKE CONCAT(CONCAT('%', #{materialNum}), '%')
      </if>
        GROUP BY A.id
    </select>

    <!--查询销售订单树子节点-->
    <select id="OrderItemMapper.queryOrderTree2" resultMap="mRetMapOrderItem">
        SELECT
        A.id as treeId,
        A.orderId,
        B.orderName,
        F.goodsId as customerGoodId,
        A.esgouNum,
        A.unitPrice,
        A.tmpNum,
        (A.esgouNum - A.tmpNum) AS afterNum,
        G.storage,
        concat(D.goodsName,'-',G.materialNum,'-',F.materialNum,'(',CONVERT (A.esgouNum - A.tmpNum, CHAR),')') AS text,
        D.goodsName,
        F.materialNum,
        G.materialNum as ycmaterialNum,
        D.specUnit,
        D.businessId,
        D.id as goodId,
        E.dictName,
        A.esgouNum * A.unitPrice AS totalMoney
        FROM
        tab_orderitem A
        LEFT JOIN tab_order B ON A.orderId = B.id
        LEFT JOIN tab_blueprint F ON A.customerGoodId=F.id
        LEFT JOIN tab_good_customer G on F.goodsId=G.id
        LEFT JOIN tab_goods D ON G.goodId=D.id
        LEFT JOIN tab_dict E ON F.unit = E.dictNo
        where B.id = #{orderId}
        AND B.orderStatus!=-1 AND B.orderStatus!=5
        <!--AND (B.orderStatus = 1 or B.orderStatus=2 or B.orderStatus=3)-->
        AND A.esgouNum != A.tmpNum
    </select>

    <update id="OrderItemMapper.updateOutOrderStatus">
        <![CDATA[
        UPDATE tab_order
        SET orderStatus=2
        WHERE id = #{orderId}
    ]]>
    </update>

    <update id="OrderItemMapper.updateInOrderStatus">
        <![CDATA[
        UPDATE tab_order
        SET orderStatus=3
        WHERE id = #{orderId}
    ]]>
    </update>

    <update id="OrderItemMapper.updateOrderBillStatus">
        <![CDATA[
        UPDATE tab_order
        SET orderStatus=4
        WHERE id = #{orderId}
    ]]>
    </update>

    <!--入库-->
    <update id="OrderItemMapper.updateTabGoodsStorage">
        <![CDATA[
        UPDATE tab_goods
        SET storage = storage + #{tmpNum}
        WHERE id = #{goodId}
    ]]>
    </update>

    <update id="OrderItemMapper.updateTabGoodCustomerStorage">
        <![CDATA[
        UPDATE tab_good_customer
        SET storage = storage + #{tmpNum}
        WHERE id = #{customerGoodId}
    ]]>
    </update>

    <!--出库-->
    <update id="OrderItemMapper.updateTabGoodsStorageOut">
        <![CDATA[
        UPDATE tab_goods
        SET storage = storage - #{tmpNum}
        WHERE id = #{goodId}
    ]]>
    </update>

    <update id="OrderItemMapper.updateTabGoodCustomerStorageOut">
        <![CDATA[
        UPDATE tab_good_customer
        SET storage = storage - #{tmpNum}
        WHERE id = #{customerGoodId}
    ]]>
    </update>

    <!--修改厂商商品的货存-->
    <update id="OrderItemMapper.updateStorage" >
        update tab_good_customer set storage = storage +  #{afterNum}
        where id = #{customerGoodId}
    </update>

    <!--查询已入库数量-->
    <select id="OrderItemMapper.getOrderItemTepNum" resultType="float">
        SELECT tmpNum
        FROM tab_orderitem
        WHERE id = #{id}
    </select>
</mapper>
